  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik+Puddles&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik+Puddles&display=swap');
body{
  background-color: #0E0E0E;
}
.mainBody {
  box-sizing: border-box;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  color: white;
  flex-wrap: wrap;
  /* overflow: hidden; */
  margin: 0px;
  padding: 0px;
}
h1,h2,h3,h4,h5,h6,p,span,button{
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 0.5rem;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #0E0E0E;
  display: none;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #0E0E0E;
  display: none;

}

::-webkit-scrollbar-thumb {
  background: #0E0E0E;
  height: 10rem;
  background-clip: content-box;
  display: none;

}